:root {
  --font-family: 'Manrope', sans-serif;
  --second-family: 'Inter', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #ff3b34;
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

#main {
  flex-grow: 1;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--main);
    background-color: var(--white);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  color: inherit;
  font-family: inherit;
}
textarea {
  resize: none;
  /* field-sizing: content; */
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.container {
  max-width: 1440px;
  padding-right: 120px;
  padding-left: 120px;
  width: 100%;
  margin: 0 auto;
}
.section {
  padding-top: 84px;
  padding-bottom: 104px;
}
.blueBtn {
  width: 100%;
  border-radius: 12px;
  padding: 12px 50px;
  background: var(--button);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  border: none;
  transition: 200ms ease-in;
}
.blueBtn:hover {
  background: var(--button-hover);
}
/* .container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
} */
/* 
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 120px;
    padding-left: 120px;
  }
} */
